# .NET

# Build results
bin/
obj/

# IDEs
.vs/
.vscode/
.idea/

# User-specific files
*.user
*.suo
*.userprefs

# Logs
*.log

# Environment
.env
appsettings.Development.json

# Packages
*.nupkg



# Vite

# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db